---
Language: Cpp
BasedOnStyle: LLVM
AccessModifierOffset: -2
AlignAfterOpenBracket: Align
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLambdasOnASingleLine: All
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Attach
ColumnLimit: 120
IndentCaseLabels: false
IndentPPDirectives: AfterHash
IndentWidth: 4
NamespaceIndentation: None
PointerAlignment: Right
SortIncludes: CaseSensitive
SpaceAfterTemplateKeyword: false
Standard: c++20
TabWidth: 4
UseTab: Never
...
